.plans {
    display: flex;
    justify-content: center;

    .prospect-count {
        margin-right: 20px;

        .radio {
            label {
                display: block;
                padding: 11px 10px 12px 30px;
                background-color: rgba(255, 255, 255, 0.3);
            }
            label:hover {
                background-color: rgba(255, 255, 255, 0.6);
            }
            label.active, label.active:hover {
                background-color: rgba(255, 255, 255, 1);
            }
            label.active:after {
                left: 100%;
                top: 50%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 24px solid rgba(136, 183, 213, 0);
                border-left-color: rgba(255, 255, 255, 1);
                margin-top: -24px;
            }
        }
    }
}

.panel-body {
    .prospect-count {
        margin-right: 20px;

        .radio {
            label {
                display: block;
                padding: 11px 10px 12px 30px;
                background-color: rgba(240, 241, 243, .5);
            }
            label:hover {
                background-color: rgba(240, 241, 243, 1);
            }
            label.active, label.active:hover {
                background-color: rgba($brand-primary, .3);
            }
            label.active:after {
                left: 100%;
                top: 50%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 24px solid rgba(136, 183, 213, 0);
                border-left-color: rgba($brand-primary, .3);
                margin-top: -24px;
            }
        }
    }
}