.dropdown-menu > li {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.6;
	white-space: nowrap;

	& > .dropdown-btn {
		padding: .5em 0;
	}
}

.dropdown-menu > a {
	margin: 3px 20px;
	display: block;
}

.dropdown-menu .divider {
	padding: 0;
}

@media (max-width: 767px) {
	.navbar .dropdown-menu > li > a i {
    		color: white;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
		color: #dfe3e5;
	}
}

