.list-group {
    .list-header {
        display: block;
        font-weight: $nav-headings-font-weight;
        text-transform: uppercase;
        color: $list-group-link-heading-color;
        font-size: $font-size-smaller;
    }

    .list-group-item {
        border-radius: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $font-size-small;
        background-color: $list-group-bg;
        padding: $list-group-item-padding;

        &.disabled {
            background-color: transparent;
        }

        &:last-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .fa {
            font-size: $fa-font-size-base;
        }

        & > a {
            padding: 0 .5em;
            display: block;
            color: $list-group-link-color;

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            background-color: $list-group-hover-bg;
            color: $list-group-hover-link-color;
        }

        &.active {
            background-color: $list-group-hover-bg;
            color: $list-group-link-color;
            font-weight: $font-weight-bold;
        }

        &.cta {

            & > a {
                color: $gray-light;

                & > span {
                    display: inline-block;
                    border-bottom: 1px dotted;
                }
            }

            &:hover {
                background-color: inherit;

                & > a > span {
                    color: $list-group-hover-link-color;
                }
            }
        }

        .fa {
            font-size: $fa-font-size-base;
        }
    }
}

