.list-group {

	.list-header {
	    display: block;
	    font-weight: $nav-headings-font-weight;
	    text-transform: uppercase;
	    color: $list-group-link-heading-color;
	    font-size: $font-size-smaller;
	}
}

a.list-group-item {
	font-size: $font-size-small;
	color: $list-group-link-color;
	background: $list-group-bg;
	padding: $list-group-item-padding;
	border-radius: 0;
	text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     
     .fa {
     	font-size: $fa-font-size-base;
     }


	&.active {
		color: $list-group-link-color;
		font-weight: $font-weight-bold;
		background-color: $list-group-hover-bg;
		&:hover { 
	     	background-color: $list-group-hover-bg;
	     	color: $list-group-hover-link-color;
		}
		&:focus {
			background-color: $gray-light;
			color: $list-group-hover-link-color;
		}
	}
}


a.list-group-item.cta {
	color: $gray-light;
	border-bottom: 1px dotted;
	display: initial;
	border-radius: 0;
	padding: 4px 4px 4px 0;

	&:hover { 
     	background-color: inherit;
     	color: $list-group-hover-link-color;
	}
}

