.navbar-nav > li > a,
.navbar-brand, .hamburger {
	height: $navbar-height;
}

.navbar-brand {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    font-size: $font-size-logo;
    letter-spacing: -2px;
 }

.light-blue {
	color: $light-blue;
}

.dark-blue {
	color: $dark-blue;
}

.navbar {
	 .spark-profile-photo, .spark-profile-photo-lg, .spark-profile-photo-xl, .spark-nav-profile-photo, .spark-team-photo {
	 	border-radius: 0;
	 	padding: 0;
	 	border: 0;
	 }
	 .caret {
	 	    margin-left: 6px;
    		    margin-top: 4px;
	 }
}

.navbar-default .navbar-nav > li > .btn-primary {
    color: #fff;
    text-transform: none;
    font-size: inherit;
    height: 36px;
    margin-top: 7px;

    &:hover, &:focus {
    		background-color: $navbar-default-brand-hover-color;
    		color: #fff;
    }
}

.navbar-icon .icon {
	font-size: $font-size-base;
}

nav.navbar-inverse form.search {
	input {
		width: 300px;
	}
	.btn-default {
	    background-color: transparent;
	    color: #fff;
	    border: none;
	    font-size: 16px;
	    padding: 5px 10px;

	    &:hover {
	    		color: #ccc;
	    }
	}
}
.navbar-default .navbar-text {
	color: $gray-base;
	&:first-child {
    		margin-left: 0;
	}
}

h4.navbar-text {
    line-height: inherit;
}

.bulk-actions {
    position: fixed;
    top: 60px;
}


