.panel-prospect {
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: 15px;

	.panel-body {
		font-weight: $font-weight-normal;

		.prospect-top {
			display: flex;
			justify-content: space-between;
		}
		.prospect-left {
			flex-grow: 1;
		}
		.prospect-right {
			flex-grow: 0;
		}

		.prospect-header {
			display: flex;
			align-items: flex-start;
			
			.prospect-avatar {
				margin-right: 10px;
				flex-shrink: 0;
			}
			
			.prospect-info {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				.name {
					margin: 0;
				}
				.name a {
					color: $gray-base;
				}
				.email {
					font-size: $font-size-small;
				}
				p {
					margin: 0;
				}	
			}
		}
		.engagement {
			font-weight: $font-weight-bold;
			color: $gray-light;
		}
		
		.prospect-event {
			display: flex;
			align-items: baseline;
			margin-top: 10px;

			.event-date, .event-date a {
    				font-style: italic;
    				color: $gray-light;
    				font-size: $font-size-small;
    			}
    			.event {
				font-size: $font-size-base;
				margin-right: 5px;
			}
		}
		ul.more-events {
		    margin-bottom: 0;
		    padding: 0;

		    li {
    				list-style: none;
		    }
		}
	}
	
	.panel-footer {
		background-color: lighten($body-bg, 5%);
		padding: 5px 4px;

		.dropdown {
			display: inline;
		}
	}
}

.panel-benefit {
	padding: 40px; 

	.panel-heading {
	    font-size: 24px;
	    font-weight: 900;
	}
	.panel-body {
		display: flex;
		align-items: center;
		
		.description {
			flex: 2;
		}
		.img-preview {
			flex: 3;
			padding: 0 10px;
		}
		h2 {
			margin-top: 0;
		}
	}
	&.right {
		text-align: right;
		.description {
			order: 2;
		}
		.img-preview {
			order: 1;
		}

	}
}

.panel.search {
    position: absolute;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border: none;

    & .advanced-search {
    		padding: 20px;
    }
    
    & .panel-body {
    		padding: 0;	
    }

  	& h3 {
	    margin: 0;
	    padding: 10px 20px;
	    color: #7d7d7d;
	    background-color: #f5f5f5;
	    font-size: 13px;
	    font-weight: 700;
	}
	& ul {
	    list-style: none;
	    padding: 0;
	}
	& li {
	    padding: 20px;
	    border-bottom: 1px solid #e9ebee;
	}
	& li:hover {
		background-color: $list-group-hover-bg;
		cursor: pointer;
	}
	& li:last-child {
		border-bottom: none;
	}
	& li a {
		color: $gray-base;
	}
    .list-group-item {
    		padding: 4px 8px;
    		display: inline-block;
    }
}



