.panel-prospect {
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: 15px;

	.panel-body {
		font-weight: $font-weight-normal;

		.prospect-top {
			display: flex;
			justify-content: space-between;
		}
		.prospect-left {
			flex-grow: 1;
		}
		.prospect-right {
			flex-grow: 0;
		}

		.prospect-header {
			display: flex;
			align-items: flex-start;
			
			.prospect-avatar {
				margin-right: 10px;
				flex-shrink: 0;
			}
			
			.prospect-info {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				.name {
					margin: 0;
				}
				.name a {
					color: $gray-base;
				}
				.email {
					font-size: $font-size-small;
				}
				p {
					margin: 0;
				}	
			}
		}
		.engagement {
			font-weight: $font-weight-bold;
			color: $gray-light;
		}
		
		.prospect-event {
			display: flex;
			align-items: baseline;
			margin-top: 10px;

			.event-date, .event-date a {
    				font-style: italic;
    				color: $gray-light;
    				font-size: $font-size-small;
    			}
    			.event {
				font-size: $font-size-base;
				margin-right: 5px;
			}
		}
		ul.more-events {
		    margin-bottom: 0;
		    padding: 0;

		    li {
    				list-style: none;
		    }
		}
	}
	
	.panel-footer {
		background-color: lighten($body-bg, 5%);
		padding: 5px 4px;

		.dropdown {
			display: inline;
		}
	}
}



