// Wells
$well-bg: darken($body-bg, 2%);
$well-border: darken($well-bg, 20%);

// Border
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

// Scaffolding 
$body-bg: #e9ebee;
$border-radius-base: 3px;


// Colors
$gray-base:              #222;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           #dddfe2;
	
$light-blue:			#5DADD8;
$dark-blue: 			#2F4858;

$brand-primary:         $light-blue;
$brand-success:         #6CAD5F;
$brand-info:            #6C6999;
$brand-warning:         #FFC857;
$brand-danger:          #BF5452;

// Typography
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Montserrat:700';

$font-family-sans-serif: 'Lato', sans-serif;
$text-color: $gray-base;
$font-size-base: 16px;
$font-size-small: ceil(($font-size-base * 0.85));
$font-size-smaller: ceil(($font-size-base * 0.8));

$font-size-logo: 		floor(($font-size-base * 1.8));

$font-size-h1:            floor(($font-size-base * 4));
$font-size-h2:            floor(($font-size-base * 2));
$font-size-h3:            $font-size-base; 
$font-size-h4:            $font-size-small; 

$font-weight-normal: 400;
$font-weight-bold:  700;
$font-weight-black:  900;

$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$nav-headings-font-weight: $font-weight-bold;
$headings-font-weight: $font-weight-black;

$fa-font-size-base: ceil(($font-size-base * 0.75));


//== Navbar
//
//##

// Basics of a navbar

$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;

$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                transparent;
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          lighten($brand-primary, 5%);
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $brand-primary;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//=== Inverted navbar
// Reset inverted navbar basics

$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         $dark-blue;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #fff;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              lighten($navbar-inverse-bg, 5%);
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             #86bbd8;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;



// List Groups
$list-group-bg: transparent;
$list-group-border: none;
$list-group-item-padding: 4px 10px 4px 4px;
$list-group-link-color: $gray-dark;

$list-group-hover-bg: $gray-lighter;
$list-group-hover-link-color: $gray-darker;
$list-group-link-heading-color: $gray;
$list-group-header-font-size: $font-size-small;





// Panels


// Alert
$alert-info-bg: lighten($brand-info, 30%);
$alert-info-border: lighten($brand-info, 40%);
$alert-info-text: $brand-info;

// Buttons
$btn-primary-bg: $brand-primary;
