// Wells
$well-bg: darken($body-bg, 2%);
$well-border: darken($well-bg, 20%);

// Border
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

// Scaffolding 
$body-bg: #fff;
$border-radius-base: 3px;

// Colors
$gray-base: #222;

$brand-primary:         #5DADD8;
$brand-success:         #6CAD5F;
$brand-info:            #FFC857;
$brand-warning:         #BF5452;
$brand-danger:          #BF5452;

$nav-bg: 		    #2F4858;
$nav-hover-bg:     lighten($nav-bg, 5%);

// Typography
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,900';

$font-family-sans-serif: 'Lato', sans-serif;
$text-color: $gray-base;
$font-size-base: 16px;
$font-size-small: ceil(($font-size-base * 0.85));

$font-size-h1:            floor(($font-size-base * 4));
$font-size-h2:            floor(($font-size-base * 2));
$font-size-h3:            $font-size-base; 

$font-weight-normal: 400;
$font-weight-bold:  700;
$font-weight-black:  900;

$nav-headings-font-weight: $font-weight-bold;
$headings-font-weight: $font-weight-black;

$fa-font-size-base: ceil(($font-size-base * 0.75));

// List Groups
$list-group-bg: $nav-bg;
$list-group-border: none;
$list-group-left-padding: 20px;
$list-group-item-padding: 4px 10px 4px $list-group-left-padding;
$list-group-link-color: #fff;
$list-group-link-opacity: 0.7;

$list-group-hover-bg: $nav-hover-bg;
$list-group-link-hover-opacity: 1;
$list-group-link-heading-color: $list-group-link-color;
$list-group-header-font-size: $font-size-small;



// Panels


// Buttons
$btn-primary-bg: $brand-primary;
