// Brands
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   #6f6f6f !default; // #555
$gray-light:             lighten($gray-base, 60%) !default;   // #999
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #008CBA !default;
$brand-success:         #4eb76e !default;
$brand-info:            #8eb4cb !default;
$brand-warning:         #E99002 !default;
$brand-danger:          #bf5329 !default;

// Body
$body-bg: desaturate(lighten($brand-primary, 62%), 90%);

// Base Border Color
$spark-border-color: darken($body-bg, 10%);

// Set Common Borders
$list-group-border: $spark-border-color;
$navbar-default-border: $spark-border-color;
$panel-default-border: $spark-border-color;
$panel-inner-border: $spark-border-color;

// Typography
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$line-height-base: 1.6;
$text-color: #636b6f;

// Buttons
$btn-default-color: $text-color;
$btn-font-weight: 300;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Navbar
$navbar-height: 50px;
$navbar-margin-bottom: 0;

$navbar-inverse-bg: #ffffff;
$navbar-inverse-color:  lighten($text-color, 30%);
$navbar-inverse-border: $spark-border-color;

$navbar-inverse-link-color: $brand-primary;
$navbar-inverse-link-hover-color: white;
$navbar-inverse-link-hover-bg: $brand-primary;
$navbar-inverse-link-active-bg: $navbar-inverse-link-hover-bg;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;

$navbar-inverse-toggle-border-color: $spark-border-color;
$navbar-inverse-toggle-hover-bg: $navbar-inverse-bg;
$navbar-inverse-toggle-icon-bar-bg: $spark-border-color;

// Dropdowns
$dropdown-anchor-padding: 5px 20px;
$dropdown-border: $spark-border-color;
$dropdown-divider-bg: lighten($spark-border-color, 5%);
$dropdown-header-color: darken($text-color, 10%);
$dropdown-link-color: $text-color;
$dropdown-link-hover-bg: #fff;
$dropdown-padding: 10px 0;
